<div class="d-flex justify-content-center align-items-center">
    <h1>Project Details</h1>
  </div>
  <form>
    <div class="mb-3">
      <label for="name" class="form-label">Project Name:</label>
      <input readonly class="form-control" id="name" aria-describedby="name" value='<%= @project.name %>' >
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Project Description:</label>
      <input readonly class="form-control" id="description" aria-describedby="description" value='<%= @project.description %>'>
    </div>
    <div class="mb-3">
      <label for="project_users" class="form-label">Project Users:</label>
      <input readonly class="form-control" id="project_users" aria-describedby="project_users" value='<%= @project.users.pluck(:name).join(", ") %>'>
    </div>

    <h4>List of Bugs:</h4>
<div id="searchResults">
  <table class="table">
    <% if @bugs.empty? %>
    <div style="display: flex; justify-content: center; align-items: center; height: 10vh;">
    <p>No Bugs! Add New Bug.</p>
  </div>    
  <% else %>
      <% @bugs.each do |bug| %>
        <tbody class="projectRow">
          <tr>
            <td>
              <div style="display: flex; align-items: center;">
                <div style="flex: 1;"><%= bug.title %></div>
                <div class="d-flex justify-content-center align-items-center">
                  <%= link_to "", project_bug_path(@project,bug), class: "bi bi-eye-fill px-2", style: "color:green" %>
                  <% if policy(Bug).edit?%>
                    <%= link_to "", edit_project_bug_path(@project,bug), class: "bi bi-pencil-square px-2", style: "color:orange" %>
                    <p class="pt-3 px-2"><%= link_to "Delete", [bug.project, bug], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
                </p>                  
                <% end %>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      <% end %>
    <% end %>
  </table>
</div>
    <% if policy(Bug).create? %>
        <a style="text-decoration:none" class="btn btn-outline-warning mx-2 text-nowrap" href="<%= projects_bugs_path %>">New Bug</a>
      <% end %>
    <a style="text-decoration:none" class="btn btn-outline-primary mx-2 text-nowrap" href="<%= projects_path %>">Return</a>



  